body {
    margin: 0;
    padding: 0;
    background: url('../images/bg.png')
}

.logo-box {
    text-align: center;
    margin-top: 40px;
}
.logo-box img{
    max-width:100%;
}

.no-padding {
    padding: 0!important;
}

.form-control {
    background-color: #f7f9fa;
    color: #5d6980;
    outline: none;
    border: none;
}

.form-control:focus {
    background-color: #f7f9fa;
}